
.imagecontainer{
    padding-top: 200px;
    padding-left: 50px;
}

.mepicture{
    width:20%;
    border-radius: 50%;
    height:auto;
    float: left;
}

.aboutmep{
    color: white;
    margin: auto;
    width: 50%;
    padding-top: 100px;
    line-height: 1.5;
}


